*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
profile_ids.json
temp/
service_account.json
client_secrets.json
venv/
*.mp3
*.mp4
last_processed_row.txt
image_names.csv
